[Desktop Entry]
Type=Application
Name=RemoteID
GenericName=Certificado digital em nuvem
Comment=Autoriza as assinaturas do seu certificado RemoteID da Certisign
Categories=Utility;Security;System;
Keywords=certificado;assinatura;certisign;remoteid;desktopid;nuvem;icp-brasil;
Exec=@EXEC@
Icon=@ICONE@
Terminal=false
StartupNotify=true
